@mixin fontFace($fontName, $nameLocalFonts, $linkFontsOne, $typeFontsOne, $linkFontsTwo, $typeFontsTwo, $fontWeight) {
    $link: '../';
    font-family: $fontName; // имя шрифта
    font-display: swap;
    src: local($nameLocalFonts), url($link+$linkFontsOne) format($typeFontsOne),
        url($link+$linkFontsTwo) format($typeFontsTwo);
    font-style: normal;
    font-weight: $fontWeight;
}

@font-face {
    @include fontFace('MuseoModerno', 'MuseoModerno light', "fonts/MuseoModerno-Light.woff2", "woff2", "fonts/MuseoModerno-Light.woff", "woff", 300)
}

@font-face {
    @include fontFace('MuseoModerno', 'MuseoModerno Regular', "fonts/MuseoModerno-Regular.woff2", "woff2", "fonts/MuseoModerno-Regular.woff", "woff", 400)
}

@font-face {
    @include fontFace('MuseoModerno', 'MuseoModerno Medium', "fonts/MuseoModerno-Medium.woff2", "woff2", "fonts/MuseoModerno-Medium.woff", "woff", 500)
}


@font-face {
    @include fontFace('MuseoModerno', 'MuseoModerno bold', "fonts/MuseoModerno-Bold.woff2", "woff2", "fonts/MuseoModerno-Bold.woff", "woff", 700)
}